.empty-cart{
    width: 90%;
    background-color:whitesmoke;
    padding: 50px 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    font-size: 30px;
  }
  
  .empty-cart img{
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
  }
  
  .empty-cart button{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    background-color: rgb(129, 177, 84);
    color: white;
    font-weight: bold;
  }
  
  .empty-cart button:hover{
    background-color: green;
  }